.doh {
    width: 0px;
    height: 0px;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    background-position: 0 0;
}

.doh.smileUp {
    background-image: none;
    background-image: url('/sprite_sheet.png');
    animation: smileUp 0.25s steps(3) forwards;
}

.doh.smileDown {
    background-image: none;
    background-image: url('/sprite_sheet.png');
    animation: smileDown 0.25s steps(3) forwards;
}
.doh.idle {
    background-image: url('/doh_idle_1.png');
    background-position: 0 0;
    animation: none;
}
.doh.blink {
    background-image: url('/doh_idle_2.png');
    background-position: 0 0;
    animation: none
}
@keyframes smileUp {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -5238px 0;
    }
}

@keyframes smileDown {
    from {
        background-position: -5238px 0;
    }
    to {
        background-position: 0 0;
    }
}