.progress-container {
    background-color: white;
    border: 3px solid #64A9D7;
    border-radius: 2vw;
    width: 3%;
    height: 80%;
    align-self: center;
    margin-right: 2vw;
    display: flex;
    flex-direction: column-reverse;
}

.progress-fill {
    height: 100%;
    border-radius: 2vw;
    background-color: #AAD9F6;
    transition: height 0.3s ease;
}

.doh-container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vw;
    background-image: url('/room.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.doh {
    width: 60%;
    height: 60%;
    aspect-ratio: 1746 / 1479;
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
    z-index: 10000;
    overflow: visible;
}

.doh.fitness1.happy {
    background-size: 1200% auto;
    background-position: 0 0;
    background-image: url('/sprite_sheets/fitness/fitness1-happy.png');
    animation: play 2s steps(11) forwards;
 }

.doh.fitness2.happy {
    background-size: 1000% auto;
    background-position: 0 0;
    background-image: url('/sprite_sheets/fitness/fitness2-happy.png');
    animation: play 2s steps(9) forwards;
 }

.doh.fitness3.happy {
    background-size: 1000% auto;
    background-position: 0 0;
    background-image: url('/sprite_sheets/fitness/fitness3-happy.png');
    animation: play 2s steps(9) forwards;
 }

.doh.fitness1.idle {
    background-size: 300% auto;
    background-image: url('/sprite_sheets/fitness/fitness1-idle.png');
    background-position: 0 0;
    animation: loop 1s steps(2) infinite;
}

.doh.fitness2.idle {
    background-size: 300% auto;
    background-image: url('/sprite_sheets/fitness/fitness2-idle.png');
    background-position: 0 0;
    animation: loop 1s steps(2) infinite;
}

.doh.fitness3.idle {
    background-size: 300% auto;
    background-image: url('/sprite_sheets/fitness/fitness3-idle.png');
    background-position: 0 0;
    animation: loop 1s steps(2) infinite;
}

.doh.academics1.happy {
    background-size: 900% auto;
    background-position: 0 0;
    background-image: url('/sprite_sheets/academics/academics1-happy.png');
    animation: play 2s steps(8) forwards;
 }

.doh.academics2.happy {
    background-size: 1000% auto;
    background-position: 0 0;
    background-image: url('/sprite_sheets/academics/academics2-happy.png');
    animation: play 2s steps(9) forwards;
 }

.doh.academics3.happy {
    background-size: 1000% auto;
    background-position: 0 0;
    background-image: url('/sprite_sheets/academics/academics3-happy.png');
    animation: play 2s steps(9) forwards;
 }

.doh.academics1.idle {
    background-size: 300% auto;
    background-image: url('/sprite_sheets/academics/academics1-idle.png');
    background-position: 0 0;
    animation: loop 1s steps(2) infinite;
}

.doh.academics2.idle {
    background-size: 300% auto;
    background-image: url('/sprite_sheets/academics/academics2-idle.png');
    background-position: 0 0;
    animation: loop 1s steps(2) infinite;
}

.doh.academics3.idle {
    background-size: 300% auto;
    background-image: url('/sprite_sheets/academics/academics3-idle.png');
    background-position: 0 0;
    animation: loop 1s steps(2) infinite;
}

.doh.blink {
    background-image: url('/doh_idle_2.png');
    background-position: 0 0;
    animation: none
}

@keyframes play {
    from { background-position: 0 0; }
    to   { background-position: 100% 0; }
}

@keyframes loop {
    from { background-position: 0 0; }
    to   { background-position: 100% 0; }
}
