.doh-container {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.progress-container {
    background-color: white;
    border: 2px solid black;
    width: 80%;
    height: 5%;
    position: absolute;
    top: 5vw;
}
.progress-fill {
    height: 100%;
    background: blue;
    transition: width 0.3s ease;
}
.progress-container header {
    position: absolute;
    bottom: 120%;
    left: 0;
    background-image: url('/room.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.doh {
    width: 50%;
    position: absolute;
    height: 50%;
    aspect-ratio: 1746 / 1479;
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
    z-index: 10000;
    overflow: visible;
    bottom: 3vw;
}

.doh.smileUp {
    background-size: 400% auto;
    background-position: 0 0;
    background-image: url('/sprite_sheet.png');
    animation: smileUp 0.25s steps(3) forwards; 
}

.doh.smileDown {
    background-size: 400% auto;
    background-position: 100% 0;
    background-image: url('/sprite_sheet.png');
    animation: smileDown 0.25s steps(3) forwards;
 }

.doh.idle {
    background-image: url('/doh_idle_1.png') !important;
    background-position: 0 0;
    animation: none;
}
.doh.blink {
    background-image: url('/doh_idle_2.png');
    background-position: 0 0;
    animation: none
}
@keyframes smileUp {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

@keyframes smileDown {
    from {
        background-position: 100% 0;
    }
    to {
        background-position: 0 0;
    }
}