body {
  font-family: Sans-serif;
}

div {
  position: fixed;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

input {
  width: 450px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

.todo {
  background-color: lightblue;
  padding: 30px;
  top: 30px;
  bottom: 30px;
  left: 30px;
  width: 550px;
  border-radius: 50px;
}

.list {
  overflow: scroll;
  position: relative;
  height: 500px;
  background-color: white;
}

.add {
  position: relative;
  margin-top: 50px;
}

.doh {
  transform: scale(0.7);
  bottom: -150px;
  right: -250px;
}

.check {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
