html, body {
  font-family: 'Kulim Park', Sans-serif;
  font-size: 1.5vw;
  color: #64A9D7;
  background-color: #AAD9F6;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

input {
  width: 70%;
  padding: 1vw;
  margin-right: 1vw;
  border-radius: 1vw;
  border: 0;
  font: inherit;
}

header {
  font-size: 2vw;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 0.5vw #64A9D7;
  paint-order: stroke fill;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  font-size: 4vw;
  font-weight: bold;
  color: white;
  padding: 2vw;
  padding-top: 10vw;
}

.line {
  position: relative;
  margin-left: 2vw;
  width: 60vw;
  height: 6vw;
}

.intro {
  margin-bottom: 2vw;
  font-size: 3vw;
  font-style: italic;
  color: #64A9D7;
}

.chapter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  font-size: 3vw;
  color: #F5DAA7;
}

.unselected {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF0D4;
  width: 16vw;
  height: 6vw;
  border-radius: 1vw;
}

.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF7E9;
  width: 20vw;
  height: 8vw;
  border-radius: 1vw;
  border: 0.5vw solid #F5DAA7;
}

.select-button {
  all: unset;
  background-color: white;
  font-size: 2.5vw;
  font-weight: normal;
  color: #64A9D7;
  padding: 5vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  border-radius: 1vw;
  margin-top: 2vw;
  cursor: pointer;
}

.head-container {
  display: flex;
}

.arrow-left {
  all: unset;
  background-image: url('/arrow-left.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 3vw;
  height: 100%;
  margin-left: auto;
  cursor: pointer;
}

.arrow-right {
  all: unset;
  background-image: url('/arrow-right.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 3vw;
  height: 100%;
  margin-left: auto;
}

.page {
  display: flex;
  height: 100vh;
  background-color: #FFF0D4;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.todo {
  display: flex;
  flex-direction: column;
  background-image: url('/todo.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 1vw;
  padding: 5vw;
  padding-top: 3vw;
  width: 35%;
}

.list {
  overflow-y: scroll;
  height: 100%;
  background-color: white;
  margin-top: 1vw;
}

.add {
  display: flex;
  margin-top: 2vw;
}

.save-button {
  width: 20%;
  border-radius: 1vw;
  border: 0.2vw solid #B0B0B0;
  font: inherit;
}

.check {
  border-radius: 1vw;
  border: 0.15vw solid #B0B0B0;
  height: 1vw;
  width: 1vw;
  margin-right: 1vw;
}
