html {
  font-family: Sans-serif;
}

ul {
  list-style-type: none;
}

input {
  width: 90%;
  padding: 1vw;
  margin-right: 1vw;
  border-radius: 1vw;
}

.page {
  display: flex;
  height: 100vh;
}

.todo {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  margin: 2vw;
  padding: 2vw;
  width: 35%;
  border-radius: 2vw;
}

.list {
  overflow-y: scroll;
  height: 100%;
  background-color: white;
}

.add {
  display: flex;
  margin-top: 2vw;
}

.check {
  border-radius: 50%;
  height: 1vw;
  width: 1vw;
  margin-right: 1vw;
}